.register {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
  text-align: center;
  align-items: center;
  position: relative;
  background-color: var(--main-bg-color);
  height: 100%;
  &_switch {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 5%;
    right: 5%;
    &_down {
      opacity: 0.6;
    }
    > span {
      color: var(--main-font-color);
      > a {
        color: var(--main-font-color);
      }
    }
  }
  &_body {
    border: 1px solid var(--stroke-color);
    padding: 25px;
    border-radius: 25px;
    width: 30%;
    margin-top: 100px;
    > h1 {
      font-size: 30px;
      color: var(--main-font-color);
    }
    &_down {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 25px 0;
      > .password {
        position: relative;
        > input {
          height: 40px;
          background: none;
          border: 1px solid var(--stroke-color);
          width: 100%;
          border-radius: 5px;
          padding: 5px;
          color: var(--main-font-color);
          font-size: 18px;
        }
        > button {
          background: none;
          border: none;
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          cursor: pointer;
          &:hover {
            > svg {
              > path {
                transition-duration: .3s;
                stroke: var(--right-side-bg-color);
              }
            }
          }
          > svg {
            > path {
              transition-duration: .3s;
              stroke: var(--main-font-color);
            }
          }
        }
      }
      > input {
        height: 40px;
        background: none;
        border: 1px solid var(--stroke-color);
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        color: var(--main-font-color);
        font-size: 18px;
      }
      > label {
        font-size: 14px;
        text-align: left;
        color: var(--main-font-color);
      }
      > button {
        cursor: pointer;
        height: 40px;
        border-radius: 5px;
        border: 1px solid var(--stroke-color);
        background-color: var(--main-bg-color);
        transition-duration: .3s;
        font-size: 18px;
        color: var(--main-font-color);
        &:hover {
          background-color: var(--hover-color);
          transition-duration: .3s;
        }
      }
      > a {
        text-decoration: none;
        color: black;
        transition-duration: .3s;
        &:hover {
          color: #878790;
          transition-duration: .3s;
        }
      }
    }
  }
  &_title {
    font-size: 28px;
    font-weight: bold;
  }
}