.button {
  padding: 11px 18px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  font-weight: normal;
  justify-content: center;
  background-color: var(--right-side-bg-color);
  color: var(--second-font-color);
}