.body {
  display: flex;
  gap: 50px;
  padding: 15px;
  background-color: var(--main-bg-color);
  height: 100%;
}

.avatarNone {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--main-font-color);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  > span {
    font-size: 18px;
    font-weight: normal;
    color: var(--main-font-color);
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  > .button {
    color: var(--main-font-color);
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    transition-duration: 0.3s;
    &:hover {
      background-color: var(--hover-color);
      transition-duration: 0.3s;
    }
  }
}