body {
  --main-font-color: #515151;
  --main-bg-color: #F5F5F5;
  --second-bg-color: #FFFFFF;
  --second-font-color: #FFFFFF;
  --left-side-bg-color: #FFFFFF;
  --right-side-bg-color: #00A3FF;
  --hover-color: rgba(0,163,255,0.2);
  --stroke-color: #DFDFDF
}

body.dark {
  --main-font-color: #F0F0F0;
  --main-bg-color: #181818;
  --second-bg-color: #121212;
  --second-font-color: #FFFFFF;
  --left-side-bg-color: #292929;
  --right-side-bg-color: #005686;
  --hover-color: rgba(0, 91, 141, 0.2);
  --stroke-color: #303030
}